@{
    //ViewData["Title"] 
}



<div class="text-center">
    <h1 class="display-4">Welcome to greatness</h1>
    <p>Learn about the beauty of <a href="https://www.britannica.com/sports/table-tennis">Table Tennis</a>.</p>
</div>

<img src="~/img/mepong.jpeg" class="image" />


<br /><br /><br />
<h3>A Description</h3>
<br /><br />
<p>Ping pong, the electrifying sport of table tennis, ignites a fierce battleground where players clash with lightning speed and 
    ferocious determination. Across a small table, they wield paddles like weapons, launching a tiny ball into a whirlwind of rapid-fire 
    exchanges over the net. Born in England, this adrenaline-soaked game demands split-second reflexes, razor-sharp precision, and 
    tactical cunning.
</p>
<br /><br />
<h2>How can you not be romantic about Ping Pong?</h2>
<img src="~/img/beauty.jpg" class="image"/>
<br /><br /><br />
<h3>I Love Ping Pong</h3>
<br />
<p>Have you ever wanted to play tennis but not wanted to run all over the place? Well then ping pong is the sport for you!
    All you have to do is stand there and hit that plastic ball back over the net. Easy, Right?
</p>